.container {
	padding: 0 0 0 1rem;
}

.messagesWrapper {
	overflow-y: scroll;
	max-height: calc(100vh - 13.475rem);
	padding: 1rem 0;
}

.addMessageForm {
	border-top: 2px solid #b6c3d1;
	padding-right: 1rem;
}

.addMessageForm :global .MuiOutlinedInput-root {
	background-color: white;
}
