.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.icon {
	transform: scale(0.5);
	margin-top: -14rem;
	margin-bottom: -14rem;
}

.text {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
}
