.property {
	color: var(--grey-light-2);
}

.contact {
	padding-left: 1rem;
	font-size: 0.8rem;
	color: var(--grey-light-2);
}

.contact :global .MuiFormHelperText-root,
.property :global .MuiFormHelperText-root {
	margin-top: 0;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.buttons {
	display: flex;
	gap: 1rem;
}
