.wrapper {
	padding: 1rem;
}

.header {
	padding-bottom: 1rem;
	text-align: center;
	font-weight: 500;
	font-size: 1.2rem;
}

.number {
	color: var(--blue-main);
}

.itemWrapper {
	padding-top: 1rem;
}
