@font-face {
	font-family: "Skaryna 2017 Title";
	font-style: normal;
	font-weight: 500;
	/* Браузер сначала попробует найти шрифт локально */
	src: local("Skaryna 2017 Title"),
		/* Если не получилось, загрузит woff2 */
		url("../../fonts/skaryna-title-2017-CC-v20200624-1052.ttf");
}

.header {
	grid-area: h;
	background-color: var(--bg-light-2);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.logo {
	padding-top: 1rem;
	margin: auto 0;
	display: flex;
	text-align: center;
	align-items: center;
	color: var(--red-main);
}

.image {
	height: 127px;
	background-color: var(--bg-light-2);
}

.near {
	font-size: 2.5rem;
	font-weight: 600;
	font-family: "Skaryna 2017 Title";
}

.social {
	font-style: italic;
	margin-left: 1rem;
	font-size: 0.8rem;
	display: flex;
	align-self: flex-end;
	margin-bottom: 5px;
}

.rightBlock {
	display: flex;
	align-items: center;
}
