.nav {
	grid-area: n;
	background-color: var(--red-main);
	font-size: 1.625rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
	height: calc(100vh - 5rem);
}

.item {
	color: var(--white-main);
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	white-space: nowrap;
	transition-duration: 0.3s;
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.item:hover {
	background-color: var(--bg-light-2);
	color: var(--red-main);
	transition-duration: 0.3s;
}

.nav .activeLink {
	color: var(--red-main);
	background-color: var(--white-main);
	font-weight: 600;
}
