.nav {
	grid-area: n;
	background-color: var(--red-main);
	font-size: 1.625rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.item {
	color: white;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
}

.item:hover {
	background-color: white;
	color: var(--red-main);
}

.nav .activeLink {
	color: var(--red-main);
	background-color: white;
	font-weight: 600;
}
