.messageContainer {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	margin-bottom: 2px;
	border-radius: 4px;
}

.incoming {
	background-color: var(--white-main);
}

.sent {
	background-color: var(--grey-light-4);
}

.notViewed {
	background-color: var(--grey-light-5);
}

.messageContainer:last-child {
	margin-bottom: 0;
}

.deleted {
	background-color: var(--grey-light-6);
}

.deleted:hover {
	background-color: var(--grey-light-6);
}

.messageBlock {
	display: flex;
	gap: 1rem;
}

.message {
	font-size: 0.9rem;
}

.iconWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
}

.messageContainer:hover .iconWrapper {
	opacity: 1;
	transition-duration: 2.5s;
}

.icon {
	cursor: pointer;
}

.recovery {
	color: var(--blue-main);
	cursor: pointer;
}

.recovery:hover {
	text-decoration: underline;
}

.authorTitle {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	column-gap: 1rem;
	font-size: 1rem;
}

.author {
	font-weight: 500;
	color: var(--blue-main);
	font-size: 1rem;
	line-height: 1rem;
}

.sendTime {
	font-size: 0.75rem;
	line-height: 0.75rem;
}
