.wrapper {
	border-bottom: 1px solid var(--grey-light-3);
	padding: 0 1rem 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.4rem;
}

.wrapper .title a {
	text-decoration: none;
	color: var(--grey-dark);
}

.rightBlock {
	display: flex;
	column-gap: 1rem;
}
