.changeAvatar :global .MuiButton-root {
	background-color: rgba(0, 0, 0, 0.36);
	text-transform: none;
}

.changeAvatar :global .MuiButton-root:hover {
	background-color: rgba(0, 0, 0, 0.40);
}

.popoverWrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-light-2);
	padding: 0.25rem;
}

.popoverWrapper :global .MuiButton-root {
	background-color: var(--bg-light-2);
	text-transform: none;
	color: var(--grey-dark);
	box-shadow: none;
}

.popoverWrapper :global .Mui-disabled {
	color: rgba(0, 0, 0, 0.26);
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.12);
}

.popoverWrapper :global .MuiButton-root:hover {
	background-color: #e6e4e9;
	box-shadow: none;
}

.popoverWrapper label:first-child svg {
	fill: var(--green-light);
}

.popoverWrapper label:last-child svg {
	fill: var(--red-main);
}
