.appWrapper {
	display: grid;
	width: 100%;
	margin: 0 auto;
	grid-template-areas:
		"h h"
		"n c";
	grid-template-columns: 15rem 2fr;
	grid-template-rows: 5rem 1fr;
	height: 100vh;
}

.appWrapperContent {
	background-color: var(--bg-light);
	overflow-y: auto;
}
