* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	list-style: none;
}

a {
	text-decoration: none;	
	color: white;
}
a:hover {
	text-decoration: underline;
}

.app-wrapper {
	display: grid;
	width: 1200px;
	margin: 0px auto;
	grid-template-areas:
		"h h"
		"n c";
	grid-template-columns: 200px 2fr;
	grid-template-rows: 127px 1fr;
}


.app-wrapper-content {
	background-color: rgb(231, 195, 217);
}
